.client-li-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
  margin: 1rem;
  padding: 10px;
  max-width: 40rem;
}

.client-li-container a:hover {
  text-decoration: underline;
}

.client-data {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.usina-controller {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* .card-client-container:hover {
  transform: scale(1.05);
  transition: 0.5s;
} */

.power-plant-by-client {
  display: flex;
  justify-content: space-between;
}